.container {
  padding: 50px;
  background-color: #eaedef;
  margin: 57px;
  border-radius: 9px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  width: "80%";
}
.label {
  width: 620px;
  text-align: left;
  display: inline-block;
  margin-bottom: 50px;
}
